# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Python
venv/
__pycache__/

# Build / Dist
dist/
build/

# Logs
logs/
*.log

# MacOS
.DS_Store

# Others
*.pem
